/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
  border: solid;
  border-radius: 1rem;
}

body {
  background-color: rgb(161, 161, 161);
}

img:hover {
  color: red;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  font-size: 6.5rem;
}

h2 {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  font-size: 2rem;
  padding-bottom: 1rem;
}

h3 {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

a {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  font-size: 2rem;
  color: black;
}

.rm:hover {
  color: red;
}

p {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

header {
  margin: 5rem;
}

main {
  margin: 1.5rem;
}

.logo {
  text-decoration: none;
  color: black;
}

.r {
  display: inline-block;
  color: red;
  transform: scaleX(-1) translateX(-0.2rem);
}

.kategoriListe {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.kat {
  text-decoration: none;
  color: black;
  padding-inline: 4rem;
  padding-block: 2rem;
  border-radius: 2rem;
  border: solid;
  margin: 0.5rem;
}

.kat:hover {
  color: red;
}

dl {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
}

dt {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}
dd {
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

img {
  width: 400px;
}

label {
  padding-top: 1rem;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  font-size: 1.5rem;
}

.form {
  border: solid;
  border-radius: 1rem;
  width: 400px;
  line-height: 2rem;
  padding: 2rem;
}

button {
  border-radius: 1rem;
  border: solid;
  padding: 1rem;
  background-color: rgba(210, 210, 210, 0);
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  font-size: 1.5rem;
  place-items: center;
}

button:hover {
  color: red;
}

.no-hover:hover {
  color: inherit;
}

.produktliste {
  max-width: 1800px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 2rem;
}

.grid_1-1-1 {
  max-width: 1800px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 400px);
  gap: 2rem;
  position: relative;
}

.index {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.overskrift {
  margin: 1.5rem;
}

/*_____________________________*/
article.udsolgt p {
  opacity: 0.3;
}
article.udsolgt h3 {
  opacity: 0.3;
}

article.udsolgt a {
  opacity: 0.3;
}

article.udsolgt::before {
  /* Tilføjer en "UDSOLGT"-etiket foran indholdet af udsolgte artikler */
  content: "UDSOLGT";
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  position: absolute; /*Placere etiketten ovenpå det andet indhold */
  margin-block: 15rem; /*Placering af etiketten midt på billeder – nok ikke den rigtige måde at gøre det på */
  margin-inline: 5rem; /*Placering af etiketten midt på billeder – nok ikke den rigtige måde at gøre det på */
  background: grey; /* Grå baggrund for etiketten */
  color: red; /* Rød tekst farve */
  border-radius: 1rem; /* Runde hjørner */
  padding: 1rem; /* Afstand rundt om teksten */
}

article .tilbud {
  display: none; /* Skjuler klassen "tilbud" som standard */
}

article.tilbud .tilbud {
  display: flex; /* Gør tilbudssektionen til en fleksibel container */
  justify-content: space-between; /* Fordeler pladsen mellem elementerne jævnt */
  color: greenyellow;
  font-weight: 800;
  font-size: 1.4rem;
}

/* Giver det sidste afsnit i et "tilbud"-element en lysegrøn baggrund og lidt padding */
article.tilbud .procentLabel {
  background: greenyellow; /* Lysegrøn baggrund*/
  padding: 0.2rem; /*Indvendig afstand på 0.2rem*/
  color: black;
  border-radius: 0.5rem;
}

/* Side med enkelt produkt */
.udsolgtImg {
  opacity: 0.3;
}

.grid_1-1-1.udsolgtTekst::before {
  /* Tilføjer en "UDSOLGT"-etiket foran indholdet af udsolgte artikler */
  content: "UDSOLGT";
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
  position: absolute; /*Placere etiketten ovenpå det andet indhold */
  margin-block: 15rem; /*Placering af etiketten midt på billeder – nok ikke den rigtige måde at gøre det på */
  margin-inline: 5rem; /*Placering af etiketten midt på billeder – nok ikke den rigtige måde at gøre det på */
  background: grey; /* Grå baggrund for etiketten */
  color: red; /* Rød tekst farve */
  border-radius: 1rem; /* Runde hjørner */
  padding: 1rem; /* Afstand rundt om teksten */
}

.grid_1-1-1 .tilbudForm {
  display: none; /* Skjuler klassen "tilbudForm" som standard */
}

.grid_1-1-1.tilbudForm .tilbudForm {
  display: flex; /* Gør tilbudssektionen til en fleksibel container */
  justify-content: space-between; /* Fordeler pladsen mellem elementerne jævnt */
  color: greenyellow;
  font-weight: 800;
  font-size: 1.4rem;
}

section .tilbudForm .procentLabel {
  background: greenyellow; /*Lysegrøn baggrund*/
  padding: 0.2rem; /*Indvendig afstand på 0.2rem */
  color: black;
  border-radius: 0.5rem;
}
